{% extends 'estore/base.html' %}

{% block content %}
	<div class="row">
        {% for product in object_list %}
        	<div class="col-xs-6 col-md-3">
                <a href="{% url 'product_detail' product.id %}" class="thumbnail">
                    {% if product.image %}
                        <img src="{{ product.image.url }}" alt="{{ product.title }}">
                    {% else %}
                        <img src="//placehold.it/200x200&text=No Pic" alt="{{ product.title }}">
                    {% endif %}
                </a>
                {{ product.title }} $ {{ product.price }}
            </div>
        {% endfor %}
	</div>
{% endblock %}