{% extends 'estore/base.html' %}
{% load bootstrap3 %}

{% block content %}
    {% if validlink %}
        <p>請輸入新密碼</p>
        <form action="" method="post">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons submit='重設密碼' %} {% endbuttons %}
        </form>
    {% else %}
        {% bootstrap_alert '<strong>密碼重設失敗</strong>該密碼重設連結已經失效，請嘗試重新操作一次' alert_type='danger' %}
        {% url 'login' as login_url %}
        {% bootstrap_button '重新登入' button_type='button' button_class='btn-primary' href=login_url %}
    {% endif %}
{% endblock %}